<div class="relative" [appCloseOnInteract]="open" (requestClose)="open = false">
  <button
    class="inline-flex h-10 items-center gap-2 rounded-xl border border-gray-200 px-3 hover:bg-gray-100 cursor-pointer"
    (click)="open = !open"
  >
    <div class="h-6 w-6 rounded-full bg-gray-200"></div>
    <span class="hidden sm:inline text-sm">Jonathan Navarro</span>
    <app-icon name="chevron-down" class="size-4"></app-icon>
  </button>

  <!-- Dropdown -->
  <div
    *ngIf="open"
    class="absolute right-0 mt-1 w-48 rounded-xl border border-gray-200 bg-white shadow-lg z-50"
  >
    <ng-container *ngFor="let item of items">
      <a
        *ngIf="item.routerLink"
        class="block px-4 py-2 text-sm hover:bg-gray-100"
        [routerLink]="item.routerLink"
        >{{ item.label }}</a
      >
      <button
        *ngIf="!item.routerLink && item.action"
        class="w-full text-left px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer"
        (click)="item.action()"
      >
        {{ item.label }}
      </button>
    </ng-container>
  </div>
</div>
