@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s ease-in-out infinite;
}

/* Ajustes básicos */
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0.8;
}
