<span
  class="tooltip-wrapper inline-flex items-center relative"
  [ngClass]="[position, show ? 'show' : '']"
  [attr.aria-describedby]="tooltipId"
  (mouseenter)="onEnter()"
  (mouseleave)="onLeave()"
>
  <ng-content></ng-content>

  <span
    [id]="tooltipId"
    role="tooltip"
    [ngClass]="[position, show ? 'visible' : '']"
    class="tooltip bg-gray-700 text-white px-3 py-1 rounded text-sm leading-4 opacity-0 pointer-events-none transform transition duration-150 z-50"
    [class.whitespace-normal]="allowWrap"
    [class.break-words]="allowWrap"
    [class.whitespace-nowrap]="!allowWrap"
    [style.max-width]="maxWidth"
    [style.width]="allowWrap ? maxWidth : 'fit-content'"
    >{{ text }}</span
  >
</span>
